<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ATL Sports Tracker</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <h1>Baseball Teams in Atlanta</h1>
  </header>

      <br>
      <h3>
        {{ braves_data.team }}
      </h3>
      <img src="{{ url_for('static', filename='Atlanta_Braves_logo.png') }}" 
      alt="Atlanta Braves Logo"
      style="width:100px;height:100px;">
      <p>
        Season Ongoing: <strong> {{ braves_data.season_ongoing }} </strong>
        <br>
        Current Record: {{ braves_data.wins }} – {{ braves_data.losses }}
        <br>
        Current Standings: {{ braves_data.standings_text }} in NL East
      </p>
    </ul>
  </section>

  <script src="/static/js/main.js"></script>
</body>
</html>
