<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Football</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="falcons-body">
  <div class="team-header">
    <p>Atlanta Falcons</p>
  </div>

  <div class="teams-container">
    <div class="team-column-falcons">
      <img src="{{ url_for('static', filename='falcons_gif.gif') }}" alt="Falcons GIF">

    </div>
    <div class="team-column-falcons">
      <p>
        NFL Season Status: <strong> {{ falcons_data.season_status }} </strong>
        <br>
        <br>
        With <strong>{{ falcons_data.wins }} wins</strong> and <strong>{{ falcons_data.losses }} losses</strong>{% if falcons_data.ties %} and <strong>{{ falcons_data.ties }} ties</strong>{% endif %}, 
        the Falcons are sitting at <strong>{{ falcons_data.division_standing }} place</strong> in the NFC South.
        This makes them the <strong>number {{ falcons_data.conf_standing }} ranked</strong> team in the NFC, and <strong>{{ falcons_data.wins_away }} games</strong> out of the playoffs.
      </p>
    </div>
  </div>

  <script src="/static/js/main.js"></script>
</body>
</html>
