<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Football</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <h1>Football Teams in Atlanta</h1>
  </header>

  <section id="content">
    <ul>
      <br>
      <h3>
        {{ falcons_data.team }}
      </h3>
      <img src="{{ url_for('static', filename='Atlanta_Falcons_logo.png') }}" 
      alt="Atlanta Falcons Logo"
      style="width:100px;height:100px;">
      <p>
        Season Ongoing: <strong> {{ falcons_data.season_ongoing }} </strong>
        <br>
        Current Record: {{ falcons_data.wins }} – {{ falcons_data.losses }}{% if falcons_data.ties %} – {{ falcons_data.ties }}{% endif %}
        <br>
        Current Standings: {{ falcons_data.standings_text }}
      </p>

      <br>
      <h3>
        {{ gt_data.team }}
      </h3>
      <img src="{{ url_for('static', filename='GeorgiaTech_logo.png') }}" 
      alt="Georgia Tech Logo"
      style="width:150px;height:100px;">
      <p>
        Season Ongoing: <strong> {{ gt_data.season_ongoing }} </strong>
        <br>
        Current Record: {{ gt_data.wins }} – {{ gt_data.losses }}
        <br>
        Current Ranking: {{ gt_data.ranking }} in College Football Playoff Rankings
        <br>
        Current Conference Record: {{ gt_data.conf_record }}
        <br>
        Current Conference Standings: No. {{ gt_data.conf_standings }} in Atlantic Coastal Conference
      </p>
    </ul>
  </section>

  <script src="/static/js/main.js"></script>
</body>
</html>
