<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Georgia Tech Football</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="gt-body">
  <div class="team-header">
    <p>{{ gt_data.team }}</p>
  </div>

  <div class="teams-container">
    <div class="team-column-gt">
      <img src="{{ url_for('static', filename='gt_gif.gif') }}" alt="GT GIF">
      <br>
      <img src="{{ url_for('static', filename='gt_gif_2.gif') }}" alt="GT GIF 2">
    </div>

    <div class="team-column-gt">
      <p>
        <u><strong>2025-26 SEASON</strong></u>
        <br>
        College Football Season Status: <strong> {{ gt_data.season_status }} </strong>
        <br>
        <br>
        With <strong>{{ gt_data.wins }} wins</strong> and <strong>{{ gt_data.losses }} losses</strong>, 
        the Yellow Jackets are sitting at ranking <strong>{{ gt_data.ranking }} place</strong> nationally in the CFP rankings.
        Additionally, a conference record of {{ gt_data.conf_record }} gives the Jackets a No. {{  gt_data.conf_standings }} standing in the Atlanta Coast Conference. 
        <br>
        <br>
        <br>
        <br>

        <u>Season Stats</u>
        <br>
        Offensively, the Jackets are scoring <strong>{{ gt_data.ppg }} points</strong> per game, which is <strong>{{ gt_data.ppg_rank }}</strong> in the league.
        They average <strong>{{ gt_data.papg }} passing yards</strong> per game, which is <strong>{{ gt_data.papg_rank }}</strong> in the league, and
        they average <strong>{{ gt_data.rpg }} rushing yards</strong> per game, which is <strong>{{ gt_data.rpg_rank }}</strong> in the league.
        <br>
        <br>
        <br>
        Defensively, the Jackets are giving up <strong>{{ gt_data.opp_ppg }} points</strong> per game, which is <strong>{{ gt_data.opp_ppg_rank }}</strong> in the league.
        Their opponents average <strong>{{ gt_data.opp_papg }} passing yards</strong> per game, which is <strong>{{ gt_data.opp_papg_rank }}</strong> in the league, and
        their opponents average <strong>{{ gt_data.opp_rpg }} rushing yards</strong> per game, which is <strong>{{ gt_data.opp_rpg_rank }}</strong> in the league.
        <br>
        <br>
        <br>
        <br>
        <small>Note: There are 136 Division 1 College Football teams included in the stat rankings</small>
      </p>
    </div>
  </div>

  <div class="teams-container">
    <a href="/" class="home-button">Home Page</a>
  </div>

  <script src="/static/js/main.js"></script>
</body>
</html>
