<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Football</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <h1>Georgia Tech Yellow Jackets Football</h1>
  </header>

  <div class="teams-container">
    <div class="team-column">
      <h3>
        {{ gt_data.team }}
      </h3>
      <img src="{{ url_for('static', filename='GeorgiaTech_logo.png') }}" 
      alt="Georgia Tech Logo"
      style="width:150px;height:100px;">
      <p>
        Season Ongoing: <strong> {{ gt_data.season_ongoing }} </strong>
        <br>
        Current Record: {{ gt_data.wins }} – {{ gt_data.losses }}
        <br>
        Current Ranking: {{ gt_data.ranking }} in College Football Playoff Rankings
        <br>
        Current Conference Record: {{ gt_data.conf_record }}
        <br>
        Current Conference Standings: No. {{ gt_data.conf_standings }} in Atlantic Coastal Conference
      </p>
    </div>
  </div>

  <script src="/static/js/main.js"></script>
</body>
</html>
