<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Atlanta Hawks</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="hawks-body">
  <div class="team-header">
    <p>Atlanta Hawks</p>
  </div>

  <div class="teams-container">
    <div class="team-column-hawks">
      <img src="{{ url_for('static', filename='hawks_gif.gif') }}" alt="Hawks GIF">
    </div>

    <div class="team-column-hawks">
      <p>
        <u><strong>2025-26 SEASON</strong></u>
        <br>
        NBA Season Status: <strong> {{ hawks_data.season_status }}</strong>
        <br>
        <br>
        With <strong>{{ hawks_data.wins }} wins</strong> and <strong>{{ hawks_data.losses }} losses</strong>, 
        the Hawks are sitting at <strong>{{ hawks_data.conf_standings }} place</strong> in the Eastern Conference.
        Additionally, the Hawks record of <strong>{{ hawks_data.record_text }}</strong> makes them <strong>{{ hawks_data.division_standings }} place</strong>
        in the Southeast Division.
        <br>
        <br>
        <small>Note: Divisions are comprised of 5 teams. Divisions have no impact on entrace to the playoffs</small>
        <br>
        <br>
        <br>
        Offensively, the Hawks are scoring <strong>{{ hawks_data.ppg }} points</strong> per game, 
        which is <strong>{{ hawks_data.ppg_rank }}</strong> in the league.
        They are also shooting <strong>{{ hawks_data.sppg }}</strong> for all field goals, 
        which is <strong>{{ hawks_data.sppg_rank }}</strong> in the league.
        <br>
        <br>
        <br>
        Defensively, the Hawks are giving up <strong>{{ hawks_data.opp_ppg }} points</strong> per game,
        which is <strong>{{ hawks_data.opp_ppg_rank }}</strong> in the league.
        Their opponents are shooting <strong>{{ hawks_data.opp_sppg }}</strong> for all field goals, 
        which is <strong>{{ hawks_data.opp_sppg_rank }}</strong> in the league.
      </p>
    </div>
  </div>

  <div class="teams-container">
    <a href="/" class="home-button">Home Page</a>
  </div>

  <script src="/static/js/main.js"></script>
</body>
</html>
