<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ATL Sports Tracker</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <h1>Welcome to the 2025-26 ATL Sports Tracker!</h1>
    <p><strong>This site web scrapes relevant information for all major Atlanta Sports teams!</strong></p>
    <p>Author: Marcus Mudano</p>
  </header>

  <section id="content">
    <ul>
      <br>
      <h3>
        {{ falcons_data.team }}
      </h3>
      <img src="{{ url_for('static', filename='Atlanta_Falcons_logo.png') }}" 
      alt="Atlanta Falcons Logo"
      style="width:100px;height:100px;">
      <p>
        Season Ongoing: <strong> {{ falcons_data.season_ongoing }} </strong>
        <br>
        Current Record: {{ falcons_data.wins }} – {{ falcons_data.losses }}{% if falcons_data.ties %} – {{ falcons_data.ties }}{% endif %}
        <br>
        Current Standings: {{ falcons_data.standings_text }}
      </p>

      <br>
      <h3>
        {{ hawks_data.team}}
      </h3>
      <img src="{{ url_for('static', filename='Atlanta_Hawks_logo.png') }}" 
      alt="Atlanta Hawks Logo"
      style="width:100px;height:100px;">
      <p>
        Season Ongoing: <strong> {{ hawks_data.season_ongoing }} </strong>
        <br>
        Current Record: {{ hawks_data.wins }} – {{ hawks_data.losses }}
        <br>
        Current Conference Standings: {{ hawks_data.conf_standings }} in East
        <br>
        Current Division Standings: {{ hawks_data.division_standings }} in Southeast
      </p>

      <br>
      <h3>
        {{ gt_data.team }}
      </h3>
      <img src="{{ url_for('static', filename='GeorgiaTech_logo.png') }}" 
      alt="Georgia Tech Logo"
      style="width:150px;height:100px;">
      <p>
        Season Ongoing: <strong> {{ gt_data.season_ongoing }} </strong>
        <br>
        Current Record: {{ gt_data.wins }} – {{ gt_data.losses }}
        <br>
        Current Ranking: {{ gt_data.ranking }} in College Football Playoff Rankings
        <br>
        Current Conference Record: {{ gt_data.conf_record }}
        <br>
        Current Conference Standings: No. {{ gt_data.conf_standings }} in Atlantic Coastal Conference
      </p>

      <br>
      <h3>
        {{ braves_data.team }}
      </h3>
      <img src="{{ url_for('static', filename='Atlanta_Braves_logo.png') }}" 
      alt="Atlanta Braves Logo"
      style="width:100px;height:100px;">
      <p>
        Season Ongoing: <strong> {{ braves_data.season_ongoing }} </strong>
        <br>
        Current Record: {{ braves_data.wins }} – {{ braves_data.losses }}
        <br>
        Current Standings: {{ braves_data.standings_text }} in NL East
      </p>
    </ul>
  </section>

  <script src="/static/js/main.js"></script>
</body>
</html>
