<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ATL Sports Tracker</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <h1>Welcome to the 2025-26 ATL Sports Tracker!</h1>
    <p><strong>This site web scrapes relevant information for all major Atlanta Sports teams!</strong></p>
    <p>Author: Marcus Mudano</p>
  </header>

  <ul>
    <li><a href="/football">Football</a></li>
    <li><a href="/baseball">Baseball</a></li>
    <li><a href="/basketball">Basketball</a></li>
  </ul>
  <script src="/static/js/main.js"></script>
</body>
</html>
