<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ATL Sports Tracker</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

  <header class="hero">
      <div class="hero-overlay"></div>
      <div class="hero-content">
          <h1>ATL Sports Tracker</h1>
          <p>Your home for real-time, web-scraped Atlanta Sports Content.</p>
          <br>
      </div>
  </header>

  <main class="teams-section">
    <h2 class="section-title">Choose your Team</h2>

    <div class="team-grid">
      <a href="/falcons" class="team-card">
        <img src="{{ url_for('static', filename='Atlanta_Falcons_logo.png') }}" alt="Atlanta Falcons Logo">
        <p>Currently in: {{ falcons_data.season_status }}</p>
      </a>

      <a href="/georgia_tech_fb" class="team-card">
        <img src="{{ url_for('static', filename='gt_football_logo.png') }}" alt="GT FB Logo">
        <p>Currently in: {{ gt_data.season_status }}</p>
      </a>


    </div>
        <div class="team-grid">
      <a href="/hawks" class="team-card">
        <img src="{{ url_for('static', filename='Atlanta_Hawks_logo.png') }}" alt="Atlanta Hawks Logo">
        <p>Currently in: {{ hawks_data.season_status }}</p>
      </a>

      <a href="/georgia_tech_bb" class="team-card">
        <img src="{{ url_for('static', filename='gt_basketball_logo.png') }}" alt="GT BB Logo">
        <p>Currently in: {{ gt_bb_data.season_status }}</p>
      </a>
    </div>
  </main>

  <footer class="footer">
      <p>2025 ATL Sports Tracker — All data webscraped daily from various online sources.</p>
      <p class="author">Created by Marcus Mudano</p>
  </footer>
</body>
</html>
